// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$principal-black:#222831;
$principal-gray:#393e46;
$principal-blue:dodgerblue;
$principal-semiWhite:#eeeeee;



