.page-perfil{
    i{
        font-size: 20px !important;
        color: black !important;
        margin-right: 1rem !important;
        color:  dodgerblue !important;
    }
    h5{
        color: dodgerblue !important;
        font-size: 20px;
    }
    span{
        font-size: 15px;
    }
    img{
       /*  border-radius: 100%; */
        max-width: 300px  !important;
        max-height: 300px !important;
    }
}